= simple_form_for([@event, @documents_beznal_rashod], :html => {:class => 'form-validate'}) do |f|
  = f.error_notification

  = f.label :short_name, "Получатель*"
  .row
    .span2
      = f.select :type_company, [['ООО', 'ООО'], ['ОАО', 'ОАО'], ['ЗАО', 'ЗАО'], ['ИП', 'ИП']], {}, { :class => 'span2', :disabled => @disable_fields }
    .span6
      = f.text_field :company, :class => 'span6', "data-required" => 'true', :disabled => @disable_fields

  = f.label :description, "Назначение платежа*"
  = f.text_field :description, :class => 'span8', "data-required" => 'true', :disabled => @disable_fields

  .row
    .span4
      = f.label :name, "ФИО получателя"
      = f.text_field :name, :class => 'span4', :disabled => @disable_fields
    .span4
      = f.label :telephone, "Мобильный телефон получателя"
      = f.text_field :telephone, :class => 'span4', :disabled => @disable_fields

  .row
    .span2
      = f.label :num_schet, "Счет №*"
      = f.text_field :num_schet, :class => 'span2', "data-required" => 'true', :disabled => @disable_fields
    .span2
      .span-date.pull-right
        = f.label :date_schet, "Дата счета", :class => 'no-margin'
        .input-prepend.input-prepend-margin.date-picker.pull-right{"data-date" => (@documents_beznal_rashod.date_schet.strftime("%d.%m.%Y") unless @documents_beznal_rashod.date_schet.blank?) }
          %span.add-on
            %i.icon-calendar
          = f.text_field :date_schet, :class => 'input-date', :disabled => @disable_fields, :value => (@documents_beznal_rashod.date_schet.strftime("%d.%m.%Y") unless @documents_beznal_rashod.date_schet.blank?)
    .span2
      = f.label :summ, "Сумма*"
      = f.text_field :summ, :class => 'span2', "data-required" => 'true', :disabled => @disable_fields
    .span2
      = f.label :nds, "НДС"
      = f.text_field :nds, :class => 'span2', :disabled => @disable_fields

  .row
    .span2
      = f.label :dogovor_num, "Договор №*"
      = f.text_field :dogovor_num, :class => 'span2', "data-required" => 'true', :disabled => @disable_fields
    .span2
      .span-date.pull-right
        = f.label :date_schet, "Дата договора", :class => 'no-margin'
        .input-prepend.input-prepend-margin.date-picker.pull-right{"data-date" => (@documents_beznal_rashod.dogovor_date.strftime("%d.%m.%Y") unless @documents_beznal_rashod.dogovor_date.blank?) }
          %span.add-on
            %i.icon-calendar
          = f.text_field :dogovor_date, :class => 'input-date', :disabled => @disable_fields, :value => (@documents_beznal_rashod.dogovor_date.strftime("%d.%m.%Y") unless @documents_beznal_rashod.dogovor_date.blank?)

  %b.before-checkbox Данный расход является:
  - RASHOD_TYPES.each do |index, type|
    %label.radio
      = f.radio_button :type_rashod, index, :disabled => @disable_fields
      #{type[:text]} (статус: #{type[:title]})

  %hr
  
  %h4 Информация по расходу  

  .row
    .span2
      = f.label :info_pp, "№ п/п"
      = f.text_field :info_pp, :class => 'span2', :disabled => @disable_fields
    .span2
      .span-date.pull-right
        = f.label :info_date_pay, "Дата оплаты", :class => 'no-margin'
        .input-prepend.input-prepend-margin.date-picker.pull-right{"data-date" => (@documents_beznal_rashod.info_date_pay.strftime("%d.%m.%Y") unless @documents_beznal_rashod.info_date_pay.blank?) }
          %span.add-on
            %i.icon-calendar
          = f.text_field :info_date_pay, :class => 'input-date', :disabled => @disable_fields, :value => (@documents_beznal_rashod.info_date_pay.strftime("%d.%m.%Y") unless @documents_beznal_rashod.info_date_pay.blank?)

  .row
    .span2
      = f.label :info_schet_factura, "Счет-фактура №"
      = f.text_field :info_schet_factura, :class => 'span2', :disabled => @disable_fields
    .span2
      .span-date.pull-right
        = f.label :info_date_schet, "Дата сч.фактуры", :class => 'no-margin'
        .input-prepend.input-prepend-margin.date-picker.pull-right{"data-date" => (@documents_beznal_rashod.info_date_schet.strftime("%d.%m.%Y") unless @documents_beznal_rashod.info_date_schet.blank?) }
          %span.add-on
            %i.icon-calendar
          = f.text_field :info_date_schet, :class => 'input-date', :disabled => @disable_fields, :value => (@documents_beznal_rashod.info_date_schet.strftime("%d.%m.%Y") unless @documents_beznal_rashod.info_date_schet.blank?)

  .row
    .span2
      = f.label :info_act, "Акт №"
      = f.text_field :info_act, :class => 'span2', :disabled => @disable_fields
    .span2
      .span-date.pull-right
        = f.label :info_date_act, "Дата акта", :class => 'no-margin'
        .input-prepend.input-prepend-margin.date-picker.pull-right{"data-date" => (@documents_beznal_rashod.info_date_act.strftime("%d.%m.%Y") unless @documents_beznal_rashod.info_date_act.blank?) }
          %span.add-on
            %i.icon-calendar
          = f.text_field :info_date_act, :class => 'input-date', :disabled => @disable_fields, :value => (@documents_beznal_rashod.info_date_act.strftime("%d.%m.%Y") unless @documents_beznal_rashod.info_date_act.blank?)

  .row
    .span2
      = f.label :info_state_act, "Статус возврата акта"
      = f.select :info_state_act, %w(не\ отправлен отправлен).map { |t| [t]*2 }, {}, { :class => 'span2' }
    .span2
      .span-date.pull-right
        = f.label :info_return_date, "Дата возврата", :class => 'no-margin'
        .input-prepend.input-prepend-margin.date-picker.pull-right{"data-date" => (@documents_beznal_rashod.info_return_date.strftime("%d.%m.%Y") unless @documents_beznal_rashod.info_return_date.blank?) }
          %span.add-on
            %i.icon-calendar
          = f.text_field :info_return_date, :class => 'input-date', :value => (@documents_beznal_rashod.info_return_date.strftime("%d.%m.%Y") unless @documents_beznal_rashod.info_return_date.blank?)

  = f.label :info_type_return_act, "Способ возврата акта"
  = f.select :info_type_return_act,  %w(\  почтой курьером службой\ доставки).map { |t| [t]*2 }, {}, { :class => 'span2' }

  = f.label :info_name_sender, "ФИО отправителя"
  = f.select :info_name_sender, User.all.collect {|u| [ u.name, u.name ] }, {}, :class => 'span4'

  %br

  = f.button :submit, 'Сохранить', :class => 'btn btn-primary btn-primary-submit'
