%h1 Editing documents_beznal_rashod
%h3= "Событие: #{@event[:name]}"

= render 'form'

= link_to 'Show', [@event, @documents_beznal_rashod]
\|
= link_to 'Back', event_documents_beznal_rashods_path(@event)
