%h1 Listing documents_beznal_rashods
%h3= "Событие: #{@event.name}"

%table
  %tr
    %th Документ создал
    %th Компания
    %th Назначение платежа
    %th Счет №
    %th Дата счета
    %th Сумма
    %th НДС
    %th Данный расход является
    %th
    %th
    %th


  - @documents_beznal_rashods.includes(:user).each do |documents_beznal_rashod|
    %tr
      %td= documents_beznal_rashod.user[:name]
      %td= documents_beznal_rashod.type_company + " " + documents_beznal_rashod.company
      %td= documents_beznal_rashod.description
      %td= documents_beznal_rashod.num_schet
      %td= documents_beznal_rashod.date_schet
      %td= documents_beznal_rashod.summ
      %td= documents_beznal_rashod.nds
      %td
        %b= 'логистика лекторов' if documents_beznal_rashod.lectors
        %b= 'мероприятие в целом' if documents_beznal_rashod.entire
      %td= link_to 'Show', [@event, documents_beznal_rashod]
      %td= link_to 'Edit', edit_event_documents_beznal_rashod_path(@event, documents_beznal_rashod)
      %td= link_to 'Destroy', [@event, documents_beznal_rashod], method: :delete, data: { confirm: 'Are you sure?' }

%br
= link_to 'Создать документ безналичного расхода', new_event_documents_beznal_rashod_path(@event)
%br
= link_to "Вернуться к событию: #{@event[:name]}", event_path(@event)
