%h1= "Событие: #{@event[:name]}"
%h2= "Безнал, приход"

%p#notice= notice

%p
  %b Создал документ:
  = @documents_beznal_rashod.user[:name]
%p
  %b Получатель:
  = @documents_beznal_rashod.type_company
  = @documents_beznal_rashod.company
%p
  %b Назначение платежа:
  = @documents_beznal_rashod.description
%p
  %b ФИО получателя:
  = @documents_beznal_rashod.name
%p
  %b Моб. тел. получателя:
  = @documents_beznal_rashod.telephone
%p
  %b Счет №:
  = @documents_beznal_rashod.num_schet
%p
  %b Дата счета:
  = @documents_beznal_rashod.date_schet
%p
  %b Сумма:
  = @documents_beznal_rashod.summ
%p
  %b НДС:
  = @documents_beznal_rashod.nds
%p
  %b Договор №:
  = @documents_beznal_rashod.dogovor_num
%p
  %b Дата договора:
  = @documents_beznal_rashod.dogovor_date
%p
  %b Данный расход является:
  %b= 'Расходом по логистике лекторов (статус: физ.лицо)' if @documents_beznal_rashod.lectors
  %b= 'Расходом по мероприятию в целом (статус: фгент/юр.лицо)' if @documents_beznal_rashod.entire

%h5 ________________________________
%h3 Информация по расходу
%p
  %b № п/п:
  = @documents_beznal_rashod.info_pp
%p
  %b Счет фактура №:
  = @documents_beznal_rashod.info_schet_factura
%p
  %b Акт №:
  = @documents_beznal_rashod.info_act
%p
  %b Дата оплаты:
  = @documents_beznal_rashod.info_date_pay
%p
  %b Дата сч. фактуры:
  = @documents_beznal_rashod.info_date_schet
%p
  %b Дата акта:
  = @documents_beznal_rashod.info_date_act
%p
  %b Статус возврата акта:
  = @documents_beznal_rashod.info_state_act
%p
  %b Дата возврата акта:
  = @documents_beznal_rashod.info_return_date
%p
  %b Способ возврата акта:
  = @documents_beznal_rashod.info_type_return_act
%p
  %b ФИО отправителя:
  = @documents_beznal_rashod.info_name_sender

= link_to 'Edit', edit_event_documents_beznal_rashod_path([@event, @documents_beznal_rashod])
\|
= link_to 'Back', event_documents_beznal_rashods_path(@event)
