%h1 Listing documents_nal_rashods
%h1= "Событие: #{@event[:name]}"

%table
  %tr
    %th Документ создал
    %th Получатель
    %th Назначение платежа
    %th Сумма
    %th Дата оплаты
    %th Тип расхода
    %th
    %th
    %th

  - @documents_nal_rashods.includes(:user).each do |documents_nal_rashod|
    %tr
      %td= documents_nal_rashod.user[:name]
      %td= documents_nal_rashod.company
      %td= documents_nal_rashod.description
      %td= documents_nal_rashod.summ
      %td= documents_nal_rashod.date
      %td
        %b= 'логистика лекторов' if documents_nal_rashod.lectors
        %b= 'мероприятие в целом' if documents_nal_rashod.entire

      %td= link_to 'Show', [@event, documents_nal_rashod]
      %td= link_to 'Edit', edit_event_documents_nal_rashod_path(@event, documents_nal_rashod)
      %td= link_to 'Destroy', [@event, documents_nal_rashod], method: :delete, data: { confirm: 'Are you sure?' }

%br
%br
= link_to 'Создать документ наличного расхода', new_event_documents_nal_rashod_path(@event)
%br
= link_to "Вернуться к событию: #{@event[:name]}", event_path(@event)
