%h1= "Событие: #{@event[:name]}"
%h2= "Наличные, расход"

%p#notice= notice

%p
  %b Документ создал:
  = @documents_nal_rashod.user[:name]
%p
  %b Получатель:
  = @documents_nal_rashod.company
%p
  %b Назначение платежа:
  = @documents_nal_rashod.description
%p
  %b ФИО получателя:
  = @documents_nal_rashod.name
%p
  %b Моб. тел. получателя:
  = @documents_nal_rashod.telephone
%p
  %b Сумма:
  = @documents_nal_rashod.summ
%p
  %b Дата оплаты:
  = @documents_nal_rashod.date
%p
  %b Данный расход является:
  %b= 'Расходом по логистике лекторов (статус: физ.лицо)' if @documents_nal_rashod.lectors
  %b= 'Расходом по мероприятию в целом (статус: фгент/юр.лицо)' if @documents_nal_rashod.entire

= link_to 'Edit', edit_event_documents_nal_rashod_path(@event, @documents_nal_rashod)
\|
= link_to 'Back', event_documents_nal_rashods_path(@event)
