%ul.breadcrumb
  %li
    = link_to 'Мероприятия', events_path
    %span.divider /
  %li
    = link_to @event.name, @event
    %span.divider /
  %li.active
    Наличный расход

%p#notice= notice

%p
  = event_state_text @documents_nal_rashod.state
  %span= @documents_nal_rashod.state_note
%p
  %b Получатель
  %br
  = @documents_nal_rashod.company
%p
  %b Назначение платежа
  %br
  = @documents_nal_rashod.description
%p
  %b ФИО получателя
  %br
  = @documents_nal_rashod.name
%p
  %b Телефон получателя
  %br
  = @documents_nal_rashod.telephone
%p
  %b Сумма
  %br
  = "#{@documents_nal_rashod.summ} руб."
%p
  %b Дата оплаты
  %br
  = @documents_nal_rashod.date.strftime("%d.%m.%Y")
%p
  %b Данный расход является
  = 'расходом по логистике лекторов (статус: физ.лицо)' if @documents_nal_rashod.lectors
  = 'расходом по мероприятию в целом (статус: фгент/юр.лицо)' if @documents_nal_rashod.entire

- content_for :title do
  Мероприятия / #{@event.name} / Наличный расход