%h1 Listing document_beznal_schets

%table
  %tr
    %th User
    %th Company
    %th Description
    %th Name
    %th Telephone
    %th Num schet
    %th Date schet
    %th Summ
    %th Dogovor num
    %th Dogovor date
    %th Info schet factura
    %th Info act
    %th Info date schet
    %th Info date act
    %th Info state act
    %th Info return date
    %th Info return act type
    %th Info name sender
    %th
    %th
    %th

  - @document_beznal_schets.each do |document_beznal_schet|
    %tr
      %td= document_beznal_schet.user_id
      %td= document_beznal_schet.company
      %td= document_beznal_schet.description
      %td= document_beznal_schet.name
      %td= document_beznal_schet.telephone
      %td= document_beznal_schet.num_schet
      %td= document_beznal_schet.date_schet
      %td= document_beznal_schet.summ
      %td= document_beznal_schet.dogovor_num
      %td= document_beznal_schet.dogovor_date
      %td= document_beznal_schet.info_schet_factura
      %td= document_beznal_schet.info_act
      %td= document_beznal_schet.info_date_schet
      %td= document_beznal_schet.info_date_act
      %td= document_beznal_schet.info_state_act
      %td= document_beznal_schet.info_return_date
      %td= document_beznal_schet.info_return_act_type
      %td= document_beznal_schet.info_name_sender
      %td= link_to 'Show', document_beznal_schet
      %td= link_to 'Edit', edit_document_beznal_schet_path(document_beznal_schet)
      %td= link_to 'Destroy', document_beznal_schet, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Document beznal schet', new_document_beznal_schet_path
