!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Pharm Event"
      %meta{:content => content_for?(:description) ? yield(:description) : "Pharm Event", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags

  %body.auth
    .container

      = simple_form_for("user", :url => password_index_path, :html => { :class => 'form-signin' }) do |f|
        %h2.form-signin-heading Отправить инструкцию по восстановлению пароля
        = f.error_notification
        = f.input :email, :label => false, :placeholder => 'Электронная почта', :class => 'input-block-level'
        = f.button :submit, 'Отправить', :class => 'btn btn-large btn-primary'
