= simple_form_for(@user, :html => {:class => 'form-validate' }) do |f|
  = f.error_notification

  .row
    .span3
      = f.label :first_name, "Имя"
      = f.text_field :first_name, :class => 'span3', "data-required" => 'true'

    .span3
      = f.label :last_name, "Фамилия"
      = f.text_field :last_name, :class => 'span3', "data-required" => 'true'

    .span3
      = f.label :last_name, "Отчество"
      = f.text_field :middle_name, :class => 'span3'

  = f.label :email, "E-mail"
  = f.text_field :email, :class => 'span3'

  - if current_page?(:controller => 'users', :action => 'new')
    = f.label :password, "Пароль"
    = f.password_field :password, :class => 'span3'

  - if @current_user.roles.first.name == 'admin'
    = f.association :roles, :label => 'Роль', :include_blank => false, :label_method => lambda { |role| t "#{role.name}", :locale => :ru }, :input_html => { :class => 'span3', :size => 1, :multiple => false }
  - else
    = f.association :roles, :collection => Role.where('id != ?', 2), :label => 'Роль', :include_blank => false, :label_method => lambda { |role| t "#{role.name}", :locale => :ru }, :input_html => { :class => 'span3', :size => 1, :multiple => false }

  .row
    .span2
      = f.label :salary, "Зарплата"
      = f.text_field :salary, :class => 'span2'

    .span1
      = f.label :percent, "Процент"
      = f.text_field :percent, :class => 'span1'

  = f.submit 'Сохранить', :class => 'btn btn-primary btn-primary-submit'
