%ul.breadcrumb
  %li
    = link_to 'Пользователи', users_path
    %span.divider /
    = link_to @user.name, @user

= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :middle_name
    = f.input :email
    = f.input :salary
    = f.input :percent

  .form-actions
    = f.button :submit
