%h3 Users
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Username
        %th Email
        %th Registered
        %th Role
        %th Зарплата
        %th Процент
        %th
        %th
    %tbody
      - @users.includes(:roles).each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.email
          %td= user.created_at.to_date
          %td= user_role = user.roles.first ; user_role.name.titleize unless user_role.nil?
          %td= user.salary/100.0
          %td= "#{user.percent}% (#{user.salary*user.percent/10.0**4})"
          %td
            %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Change role
          %td
            %a.btn.btn-mini{"data-toggle" => "modal", :href => "#password-options-#{user.id}", :type => "button"} Change password
            = render user

          %td= link_to("Edit user", edit_user_path(user), :method => :get, :class => 'btn btn-mini')
          %td= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user

  = link_to 'New User', new_user_path

