.row
  = simple_form_for @current_user, :url => '/new_password', :html => {:class => 'span3 span-centered form-validate'} do |f|
    %h3 Изменение пароля
    = f.label :password, 'Новый пароль'
    = f.password_field :password, :class => 'span3', "data-required" => 'true'
    = f.label :password_confirmation, 'Новый пароль еще раз'
    = f.password_field :password_confirmation, :class => 'span3', "data-required" => 'true'
    = f.submit "Сохранить пароль", :class => "btn topmargin-medium"

- content_for :title do
  Изменения пароля