%ul.breadcrumb
  %li
    = link_to 'Пользователи', users_path
    %span.divider /
  %li.active
    = @user.name
    %span.divider
      |
  %li
    = link_to 'редактирование', edit_user_path(@user)

%h4= @user.name
- if @user.email
  %p
    %b E-mail
    %br
    = @user.email
%p
  %b Роль
  %br
  = t "roles.#{@user.roles.first.name}", :locale => :ru
- if @user.salary
  %p
    %b Зарплата
    %br
    = @user.salary/100.0
- if @user.salary && @user.percent
  %p
    %b Процент
    %br
    = "#{@user.percent}% (#{@user.salary*@user.percent/10.0**4})"

- content_for :title do
  Пользователи / #{@user.name}
