.row.row-top-actions
  .span8
    .input-prepend.pull-left
      %span.add-on
        %i.icon-search
      %input.span4#input-filter{:placeholder => "Поиск", :type => "text"}
  .span4
    = link_to 'Добавить клиента', new_client_path, :class => 'btn pull-right'

%table.table.table-striped.table-condensed.table-hover.table-links#table-filter
  %thead
    %tr
      %th.clients-name{'data-sort' => 'string'} ФИО
      %th.clients-passport Паспортные данные
      %th.clients-degree{'data-sort' => 'string'} Ученая степень
      %th.clients-work{'data-sort' => 'string'} Работа
      %th.clients-notes Примечания
      %th

  - @clients.each do |client|
    %tr{"data-link" => url_for(:action => 'show', :id => client.id)}
      %td= client.name
      %td
        %span.client-table-label дата рождения
        = client.birthday.strftime("%d.%m.%Y")
        %br
        %span.client-table-label № паспорта РФ
        = client.passport_number
        %br
        %span.client-table-label № загран.п.
        = client.zagran_passport_number
        %br
        %span.client-table-label срок действия
        = client.zagran_passport_use_before.strftime("%d.%m.%Y")
      %td= client.degree
      %td
        = "#{client.position},"
        %br
        = "#{client.work}"
      %td= client.notes
      %td.event-actions
        .btn-group.pull-right
          = link_to 'Редактировать', edit_client_path(client), {:class => 'btn btn-mini'}
          %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu.dropdown-menu-narrow.dropdown-menu-left
            %li
              = link_to 'Удалить', client, method: :delete, data: { confirm: 'Удалить клиента?' }


- content_for :title do
  Клиенты