%ul.breadcrumb
  %li
    = link_to 'Клиенты', clients_path
    %span.divider /
  %li.active
    = @client.name
    %span.divider
      |
  %li
    = link_to 'редактирование', edit_client_path(@client)

%h4= @client.name
%p
  %b Дата рождения
  %br
  = @client.birthday.strftime("%d.%m.%Y")
%p
  %b Номер паспорта
  %br
  = @client.passport_number
- unless @client.zagran_passport_number.blank?
  %p
    %b Номер загранпаспорта
    %br
    = @client.zagran_passport_number
- unless @client.zagran_passport_use_before.blank?
  %p
    %b Срок действия загранпаспорта
    %br
    = @client.zagran_passport_use_before.strftime("%d.%m.%Y")
%p
  %b Ученая степень
  %br
  = @client.degree
%p
  %b Должность
  %br
  = @client.position
%p
  %b Место работы
  %br
  = @client.work
- unless @client.notes.blank?
  %p
    %b Примечания
    %br
    = @client.notes

- content_for :title do
  Клиенты / #{@client.name}