%p#notice= notice

%p
  %b Name:
  = @client.name
%p
  %b Birthday:
  = @client.birthday
%p
  %b Passport number:
  = @client.passport_number
%p
  %b Zagran passport number:
  = @client.zagran_passport_number
%p
  %b Zagran passport use before:
  = @client.zagran_passport_use_before
%p
  %b Degree:
  = @client.degree
%p
  %b Position:
  = @client.position
%p
  %b Work:
  = @client.work
%p
  %b Notes:
  = @client.notes

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
