= simple_form_for(@couriers_task, :html => {:class => 'form-validate form-courier-task' }) do |f|
  = f.error_notification

  .row
    .span4
      %label 
        Откуда
        %a{'data-toggle' => 'modal', href: '#newAddressModal', class: 'btn btn-mini'} новое место
      = f.collection_select(:from_couriers_company_id, @couriers_companies, :id, :name, {}, class: 'span4', "data-required" => true)
      %span.couriers-company-address

    .span4
      %label
        Отправитель
        %a{'data-toggle' => 'modal', href: '#newMemberModal', class: 'btn btn-mini'} новое контактное лицо
      = f.collection_select(:from_couriers_company_member_id, @couriers_company_members, :id, :name, {}, class: 'span4', "data-required" => true)

  %br

  .row
    .span4
      %label 
        Куда
        %a{'data-toggle' => 'modal', href: '#newAddressModal', class: 'btn btn-mini'} новое место
      = f.collection_select(:to_couriers_company_id, @couriers_companies, :id, :name, {}, class: 'span4', "data-required" => true)
      %span.couriers-company-address

    .span4
      %label
        Получатель
        %a{'data-toggle' => 'modal', href: '#newMemberModal', class: 'btn btn-mini'} новое контактное лицо
      = f.collection_select(:to_couriers_company_member_id, @couriers_company_members, :id, :name, {}, class: 'span4', "data-required" => true)

  %br

  .row
    .span4
      %label.no-margin Когда
      .input-prepend.date-picker.inline-block{"data-date" => @couriers_task.due_time.strftime("%d.%m.%Y")}
        %span.add-on
          %i.icon-calendar
        %input.input-date{:type => "text", :name => 'date', :value => @couriers_task.due_time.strftime("%d.%m.%Y")}
      %input.timepicker.inline-block{:type => "text", :name => 'time', :value => @couriers_task.due_time.strftime("%H:%M")}
      %i.icon-time.timepicker-icon

  %br
  
  .row
    .span4
      = f.button :submit, 'Сохранить', :class => 'btn btn-primary btn-primary-submit', :id => "btn-courier-task-save"


#newAddressModal.modal.hide.fade{:role => "dialog", :tabindex => "-1"}
  = simple_form_for(CouriersCompany.new, :html => {:class => 'form-validate' }) do |f|
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h3 Новый адрес
    .modal-body
      = f.label :name, "Название"
      = f.text_field :name, :class => 'input-modal-full', "data-required" => 'true'
      .row
        .span1
          = f.label :zip_code, "Индекс"
          = f.text_field :zip_code, :class => 'span1', "data-required" => 'true'
        .span2
          = f.label :city, "Город"
          = f.text_field :city, :class => 'span2', "data-required" => 'true'
        .span2
          = f.label :street, "Улица"
          = f.text_field :street, :class => 'span2', "data-required" => 'true'

      .row
        .span1
          = f.label :house, "Дом"
          = f.text_field :house, :class => 'span1', "data-required" => 'true'
        .span1
          = f.label :stroenie, "Строение"
          = f.text_field :stroenie, :class => 'span1'
        .span1
          = f.label :office, "Офис"
          = f.text_field :office, :class => 'span1'

    .modal-footer
      = f.button :submit, 'Добавить', :class => 'btn btn-primary', :id => 'courier-company-add'

#newMemberModal.modal.hide.fade{:role => "dialog", :tabindex => "-1"}
  = simple_form_for([CouriersCompany.first, CouriersCompany.first.couriers_company_members.new], :html => {:class => 'form-validate' }) do |f|
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h3 Новое контактное лицо
    .modal-body
      = f.label :name, "Имя"
      = f.text_field :name, :class => 'input-modal-full', "data-required" => 'true'
      = f.label :telephone, "Телефон"
      = f.text_field :telephone, :class => 'input-modal-full', "data-required" => 'true'

    .modal-footer
      = f.button :submit, 'Добавить', :class => 'btn btn-primary', :id => 'courier-company-member-add'

:javascript
  window.companies = #{@couriers_companies.to_json}
