= simple_form_for(@couriers_task) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :name
    = f.input :telephone
    = f.input :from_date
    = f.input :to_date
    = f.input :status
    = f.input :to_person
    = f.input :from_couriers_company_id
    = f.input :to_couriers_company_id

  .form-actions
    = f.button :submit
