.row.row-top-actions
  .span8
    .input-prepend.pull-left
      %span.add-on
        %i.icon-search
      %input.span4#input-filter{:placeholder => "Поиск", :type => "text"}
    .input-append.pull-left
      %input.input-daterange#reportrange{:type => "text", :placeholder => 'За все время', :value => "Невыполненные", :readonly => "readonly", "data-start-date" => 'today', "data-end-date" => 't + 1 y'}
        %span.add-on
          %i.icon-calendar
  .span4.text-right
    = link_to 'Места', couriers_companies_path, class: 'btn'
    = link_to 'Заказать курьера', new_couriers_task_path, class: 'btn'

%table.table.table-striped.table-condensed.table-hover.table-links#table-filter
  %thead
    %tr
      %th.td-20{'data-sort' => 'string'} Откуда
      %th.td-20{'data-sort' => 'string'} От кого

      %th.td-20{'data-sort' => 'string'} Куда
      %th.td-20{'data-sort' => 'string'} Кому

      %th.td-15{'data-sort' => 'int'} Когда
      %th.td-10

  - @couriers_tasks.includes([:user, :from_couriers_company, :to_couriers_company]).each do |couriers_task|
    %tr{"data-link" => url_for(:action => 'show', :id => couriers_task.id)}
      %td= couriers_task.from_couriers_company[:name]
      %td= couriers_task.from_couriers_company_member[:name] if couriers_task.from_couriers_company_member

      %td= couriers_task.to_couriers_company[:name]
      %td= couriers_task.to_couriers_company_member[:name] if couriers_task.to_couriers_company_member

      %td.filter-date{"data-sort-value" => couriers_task.due_time.to_i}
        = couriers_task.due_time.strftime("%d.%m.%y в %H:%M") 
      %td
        .btn-group
          = link_to 'Войти', couriers_task, {:class => 'btn btn-mini'}
          %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu.dropdown-menu-narrow.dropdown-menu-left
            %li
              = link_to 'Редактировать', edit_couriers_task_path(couriers_task)
            %li
              = link_to 'Удалить', couriers_task, method: :delete, data: { confirm: 'Удалить задание?' }

:javascript
  window.isCouriersPage = true

- content_for :title do
  Курьеры
