= render 'form'

%h3 Курьеры

%table
  %tr
    %th User
    %th Name
    %th Telephone
    %th From date
    %th To date
    %th Status
    %th To person
    %th From couriers company
    %th To couriers company
    %th
    %th
    %th

  - @couriers_tasks.includes([:user, :from_couriers_company, :to_couriers_company]).each do |couriers_task|
    %tr
      %td= couriers_task.user[:name]
      %td= couriers_task.name
      %td= couriers_task.telephone
      %td= couriers_task.from_date
      %td= couriers_task.to_date
      %td= couriers_task.status
      %td= couriers_task.to_person
      %td= couriers_task.from_couriers_company[:name]
      %td= couriers_task.to_couriers_company[:name]
      %td= link_to 'Show', couriers_task
      %td= link_to 'Edit', edit_couriers_task_path(couriers_task)
      %td= link_to 'Destroy', couriers_task, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Couriers task', new_couriers_task_path

#newAddressModal.modal.hide.fade{:role => "dialog", :tabindex => "-1"}
  = simple_form_for(@couriers_company, :html => {:class => 'form-validate' }) do |f|
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h3 Новый адрес
    .modal-body
      = f.label :name, "Название"
      = f.text_field :name, :class => 'input-modal-full', "data-required" => 'true'
      .row
        .span1
          = f.label :zip_code, "Индекс"
          = f.text_field :zip_code, :class => 'span1', "data-required" => 'true'
        .span2
          = f.label :city, "Город"
          = f.text_field :city, :class => 'span2', "data-required" => 'true'
        .span2
          = f.label :street, "Улица"
          = f.text_field :street, :class => 'span2', "data-required" => 'true'

      .row
        .span1
          = f.label :house, "Дом"
          = f.text_field :house, :class => 'span1', "data-required" => 'true'
        .span1
          = f.label :stroenie, "Строение"
          = f.text_field :stroenie, :class => 'span1'
        .span1
          = f.label :office, "Офис"
          = f.text_field :office, :class => 'span1'

    .modal-footer
      = f.button :submit, 'Добавить', :class => 'btn btn-primary', :id => 'courier-company-add'