.row.row-top-actions
  .span12
    = link_to 'Добавить курьера', new_couriers_task_path, :class => 'btn pull-right'

%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %th.span4 Откуда
      %th.span4 Куда
      %th.span3 Когда
      %th

  - @couriers_tasks.includes([:user, :from_couriers_company, :to_couriers_company]).each do |couriers_task|
    %tr
      %td= couriers_task.from_couriers_company[:name]
      %td= couriers_task.to_couriers_company[:name]
      %td= couriers_task.due_time.strftime("%d.%m.%y в %H:%M") 
      %td.event-actions
        .btn-group
          = link_to 'Редактировать', edit_couriers_task_path(couriers_task), {:class => 'btn btn-mini'}
          %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu.dropdown-menu-narrow
            %li
              = link_to 'Удалить', couriers_task, method: :delete, data: { confirm: 'Удалить задание?' }

- content_for :title do
  Курьеры