.row.row-top-actions
  .span8
    .input-prepend.pull-left
      %span.add-on
        %i.icon-search
      %input.span4#input-filter{:placeholder => "Поиск", :type => "text"}
    .input-append.pull-left
      %input.input-daterange#reportrange{:type => "text", :placeholder => 'За все время', :readonly => "readonly"}
        %span.add-on
          %i.icon-calendar
  .span4
    = link_to 'Добавить курьера', new_couriers_task_path, :class => 'btn pull-right'

%table.table.table-striped.table-condensed.table-hover.table-links#table-filter
  %thead
    %tr
      %th.td-25 Откуда
      %th.td-25 Куда
      %th.td-25 Кому
      %th.td-15 Когда
      %th.td-10

  - @couriers_tasks.includes([:user, :from_couriers_company, :to_couriers_company]).each do |couriers_task|
    %tr{"data-link" => url_for(:action => 'show', :id => couriers_task.id)}
      %td= couriers_task.from_couriers_company[:name]
      %td= couriers_task.to_couriers_company[:name]
      %td= couriers_task.to_person
      %td.filter-date{"data-order-by" => couriers_task.due_time.to_i}
        = couriers_task.due_time.strftime("%d.%m.%y в %H:%M") 
      %td.event-actions
        .btn-group
          = link_to 'Редактировать', edit_couriers_task_path(couriers_task), {:class => 'btn btn-mini'}
          %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu.dropdown-menu-narrow
            %li
              = link_to 'Удалить', couriers_task, method: :delete, data: { confirm: 'Удалить задание?' }

- content_for :title do
  Курьеры