%ul.breadcrumb
  %li
    = link_to 'Курьеры', couriers_tasks_path
    %span.divider /
  %li.active
    Задание курьеру
    %span.divider
      |
  %li
    = link_to 'редактирование', edit_couriers_task_path(@couriers_task)

%h3
  #{@couriers_task.from_couriers_company[:name]} → #{@couriers_task.to_couriers_company[:name]}
%p
  = @couriers_task.due_time.strftime("%d.%m.%y в %H:%M")
  %br
  = @couriers_task.to_person

- content_for :title do
  Курьеры / Просмотр задания
