%ul.breadcrumb
  %li
    = link_to 'Курьеры', couriers_tasks_path
    %span.divider /
  %li.active
    Задание курьеру
    %span.divider
      |
  %li
    = link_to 'редактирование', edit_couriers_task_path(@couriers_task)

.row
  .span10
    %h3.no-margin
      = @couriers_task.due_time.strftime("%d.%m.%y в %H:%M")
      %button.btn.btn-print.pull-right#courier-print Распечатать

.row
  %table.table.table-top.table-noborder.table-nopadding.span10
    %tr
      %td.td-35 
        %h4 Отправка
        %p
          = @couriers_task.from_couriers_company[:name]
          %br
          = courier_company_address @couriers_task.from_couriers_company

      %td.td-35
        %h4 Получение
        %p
          = @couriers_task.to_couriers_company[:name]
          %br
          = courier_company_address @couriers_task.to_couriers_company

      %td{:rowspan => 2}
        %h4 Примечания
        = @couriers_task.note

    %tr
      %td 
        = @couriers_task.from_couriers_company_member.name unless @couriers_task.from_couriers_company_member_id.nil?
        %br
        = @couriers_task.from_couriers_company_member.telephone unless @couriers_task.from_couriers_company_member_id.nil?

      %td
        = @couriers_task.to_couriers_company_member.name unless @couriers_task.to_couriers_company_member_id.nil?
        %br
        = @couriers_task.to_couriers_company_member.telephone unless @couriers_task.to_couriers_company_member_id.nil?

.row
  .span10
    #couriers-map

.row.hide.couriers-map-static
  .span10
    %img#couriers-map-static-img{alt:"", locale: "ru"}

:javascript
  window.from_address = "#{courier_map_address @couriers_task.from_couriers_company}"
  window.to_address = "#{courier_map_address @couriers_task.to_couriers_company}"

- content_for :title do
  Курьеры / Просмотр задания

- content_for :prehead do
  = javascript_include_tag "http://api-maps.yandex.ru/2.0-stable/?load=package.standard,package.route&lang=ru-RU"