= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name,       :label => 'Название'
    = f.association :company, :label => 'Заказчик'
    = f.input :date_start, :label => 'Дата начала'
    = f.input :date_end,   :label => 'Дата окончания'
    = f.input :city,       :label => 'Город'
    = f.input :state,      :label => 'Область'

  .form-actions
    = f.button :submit

