= simple_form_for(@event) do |f|
  %input{:type => "hidden", :name => "event[date_start]", :id => "event-start", :value => @event.date_start.strftime("%d.%m.%Y")}
  %input{:type => "hidden", :name => "event[date_end]", :id => "event-end", :value => @event.date_end.strftime("%d.%m.%Y")}

  = f.error_notification

  = f.label :name, "Название"
  = f.text_field :name, :class => 'input-modal-full', "data-required" => 'true'

  = f.label :company, "Заказчик"
  = f.association :company, :label => false, :required => false, :input_html => { :class => 'input-modal-full' }

  .row.row-modal-full
    .span3
      = f.label :city, "Город"
      = f.text_field :city, :class => 'span3', "data-required" => 'true'
    .pull-right
      %label Дата проведения
      .input-prepend.pull-right
        %span.add-on
          %i.icon-calendar
        %input{:type => "text", :readonly => "readonly", :class => 'input-daterange', :id => 'event-daterange', :value => "#{@event.date_start.strftime("%d.%m.%Y")} - #{@event.date_end.strftime("%d.%m.%Y")}", "data-opens" => 'right', 'data-datestart' => @event.date_start.strftime("%m.%d.%Y"), 'data-dateend' => @event.date_end.strftime("%m.%d.%Y")}

  .row.row-modal-full.topmargin-big
    .span-modal-full
      = f.button :submit, 'Сохранить', :class => 'btn btn-primary pull-left'
      = link_to 'К списку мероприятий', events_path, :class => 'btn pull-right'