%table.table.table-striped.table-condensed#table-events
  %thead
    %tr.table-events-filters
      %th
        .input-prepend
          %span.add-on
            %i.icon-search
          %input.span6#events-filter{:placeholder => "Поиск", :type => "text"}
      %th{:colspan => "5"}
        .input-append.pull-right
          %input#reportrange{:type => "text", :placeholder => 'За все время'}
            %span.add-on
              %i.icon-calendar
    %tr
      %th.events-title.type-string Название
      %th.events-customer.type-string Заказчик
      %th.events-date.type-int Начало
      %th.events-date.type-int Конец
      %th.events-city.type-string Город
      %th
  - @events.includes([:company]).each do |event|
    %tr
      %td= event.name
      %td= event.company[:name]
      %td.events-start{"data-order-by" => event.date_start.to_time.to_i}
        = event.date_start.strftime("%d.%m.%y")
      %td.events-end{"data-order-by" => event.date_end.to_time.to_i}
        = event.date_end.strftime("%d.%m.%y")
      %td= event.city
      %td.event-actions
        .btn-group
          = link_to 'Войти', event, {:class => 'btn btn-small btn-success'}
          %button.btn.btn-small.btn-success.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu.dropdown-menu-narrow
            %li
              %a{:href => "#"} В архив
            %li
              = link_to 'Удалить', event, method: :delete, data: { confirm: 'Удалить мероприятие?' }
