%table.table.table-striped.table-condensed.table-events
  %thead
    %tr
      %th Название
      %th Заказчик
      %th Начало
      %th Конец
      %th Город
      %th

  - @events.includes([:company]).each do |event|
    %tr
      %td= event.name
      %td= event.company[:name]
      %td= event.date_start
      %td= event.date_end
      %td= event.city
      %td.event-actions
        .btn-group
          = link_to 'Войти', event, {:class => 'btn btn-small btn-success'}
          %button.btn.btn-small.btn-success.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} В архив
            %li
              = link_to 'Удалить', event, method: :delete, data: { confirm: 'Удалить мероприятие?' }
