%h1 Listing events

%table
  %tr
    %th
    %th Name
    %th User
    %th Company
    %th Date start
    %th Date end
    %th City
    %th State
    %th
    %th
    %th

  - @events.includes([:user, :company]).each do |event|
    %tr
      %td= link_to 'ПОДРОБНЕЕ', event
      %td= event.name
      %td= event.user[:name]
      %td= event.company[:name]
      %td= event.date_start
      %td= event.date_end
      %td= event.city
      %td= event.state
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
