%h1 Список мероприятий

%table.table
  %thead
    %tr
      %th
      %th Название
      %th Создал мероприятие
      %th Заказчик
      %th Дата начала
      %th Дата окончания
      %th Город
      %th Область
      %th
      %th
      %th

  %tbody
  - @events.includes([:user, :company]).each do |event|
    %tr
      %td= link_to 'ПОДРОБНЕЕ', event
      %td= event.name
      %td= event.user[:name]
      %td= event.company[:name]
      %td= event.date_start
      %td= event.date_end
      %td= event.city
      %td= event.state
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
