%table.table.table-striped.table-condensed#table-events
  %thead
    %tr
      %th.type-string Название
      %th.type-string Заказчик
      %th.type-int Начало
      %th.type-int Конец
      %th.type-string Город
      %th

  - @events.includes([:company]).each do |event|
    %tr
      %td= event.name
      %td= event.company[:name]
      %td{"data-order-by" => event.date_start.to_time.to_i}
        = event.date_start.strftime("%d.%m.%y")
      %td{"data-order-by" => event.date_end.to_time.to_i}
        = event.date_end.strftime("%d.%m.%y")
      %td= event.city
      %td.event-actions
        .btn-group
          = link_to 'Войти', event, {:class => 'btn btn-small btn-success'}
          %button.btn.btn-small.btn-success.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu.dropdown-menu-narrow
            %li
              %a{:href => "#"} В архив
            %li
              = link_to 'Удалить', event, method: :delete, data: { confirm: 'Удалить мероприятие?' }
