%table.table.table-striped.table-condensed.table-hover.table-links#table-events
  %thead
    %tr.table-events-filters
      %th{:colspan => "3"}
        .input-prepend.pull-left
          %span.add-on
            %i.icon-search
          %input.span4#events-filter{:placeholder => "Поиск", :type => "text"}
        .input-append.pull-left
          %input.input-daterange#reportrange{:type => "text", :placeholder => 'За все время', :readonly => "readonly"}
            %span.add-on
              %i.icon-calendar
      %th{:colspan => "3"}
        %a.pull-right.btn.btn-margin{"data-toggle" => "modal", :href => "#newEventModal"} Добавить мероприятие
        
    %tr
      %th.events-title.type-string Название
      %th.events-customer.type-string Заказчик
      %th.events-date.type-int Начало
      %th.events-date.type-int Конец
      %th.events-city.type-string Город
      %th.events-actions
  - @events.includes([:company]).each do |event|
    %tr{"data-link" => url_for(:action => 'edit', :id => event.id)}
      %td= event.name
      %td= event.company[:name]
      %td.events-date.events-start{"data-order-by" => event.date_start.to_time.to_i}
        = event.date_start.strftime("%d.%m.%y")
      %td.events-date.events-end{"data-order-by" => event.date_end.to_time.to_i}
        = event.date_end.strftime("%d.%m.%y")
      %td= event.city
      %td.event-actions
        .btn-group
          = link_to 'Войти', event, {:class => 'btn btn-mini'}
          %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu.dropdown-menu-narrow
            %li
              %a{:href => "#"} В архив
            %li
              = link_to 'Удалить', event, method: :delete, data: { confirm: 'Удалить мероприятие?' }

#newEventModal.modal.hide.fade{:role => "dialog", :tabindex => "-1"}
  = simple_form_for @new_event do |f|
    %input{:type => "hidden", :name => "event[date_start]", :id => "new-event-start", :value => DateTime.now.tomorrow.strftime("%Y-%m-%d")}
    %input{:type => "hidden", :name => "event[date_end]", :id => "new-event-end", :value => (DateTime.now + 8).strftime("%Y-%m-%d")}
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h3 Новое мероприятие
    .modal-body
      %label Название
      %input.input-modal-full{:type => "text", :name => "event[name]"}
      = f.association :company, :label => 'Заказчик', :required => false, :input_html => { :class => 'input-modal-full' }
      .row
        .span3
          %label Город
          %input{:type => "text", :name => "event[city]", :class => 'input-xlarge'}
        .span-datepange.pull-right
          %label Дата проведения
          .input-prepend
            %span.add-on
              %i.icon-calendar
            %input{:type => "text", :readonly => "readonly", :class => 'input-daterange', :id => 'new-event-daterange', :value => "#{DateTime.now.tomorrow.strftime("%d.%m.%Y")} - #{(DateTime.now + 8).strftime("%d.%m.%Y")}"}

    .modal-footer
      = f.button :submit, 'Добавить', :class => 'btn btn-primary', :id => 'event-add'
