= simple_form_for(@couriers_company, :html => {:class => 'form-validate' }) do |f|
  = f.error_notification

  = f.label :name, "Название"
  = f.text_field :name, :class => 'span5', "data-required" => 'true'
  .row
    .span1
      = f.label :zip_code, "Индекс"
      = f.text_field :zip_code, :class => 'span1', "data-required" => 'true'
    .span2
      = f.label :city, "Город"
      = f.text_field :city, :class => 'span2', "data-required" => 'true'
    .span2
      = f.label :street, "Улица"
      = f.text_field :street, :class => 'span2', "data-required" => 'true'

  .row
    .span1
      = f.label :house, "Дом"
      = f.text_field :house, :class => 'span1', "data-required" => 'true'
    .span1
      = f.label :stroenie, "Строение"
      = f.text_field :stroenie, :class => 'span1'
    .span1
      = f.label :office, "Офис"
      = f.text_field :office, :class => 'span1'

  .row
    .span5.topmargin-big
      = f.button :submit, 'Сохранить', :class => 'btn btn-primary pull-left'
      = link_to 'К списку курьеров', couriers_tasks_path, :class => 'btn pull-right'