.row.row-top-actions
  .span8
    .input-prepend.pull-left
      %span.add-on
        %i.icon-search
      %input.span4#input-filter{:placeholder => "Поиск", :type => "text"}
  .span4.text-right
    = link_to 'К курьерам', couriers_tasks_path, class: 'btn'
    = link_to 'Добавить место', new_couriers_company_path, class: 'btn'

%table.table.table-striped.table-condensed.table-hover.table-links#table-filter
  %thead
    %tr
      %th.td-30{'data-sort' => 'string'} Название
      %th.td-70{'data-sort' => 'string'} Адрес
      %th

  - @couriers_companies.includes([:to_couriers_tasks, :from_couriers_tasks]).each do |couriers_company|
    %tr{"data-link" => url_for(:action => 'show', :id => couriers_company.id)}
      %td= couriers_company.name
      %td= courier_company_address couriers_company
      %td
        .btn-group
          = link_to 'Войти', couriers_company, {:class => 'btn btn-mini'}
          %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu.dropdown-menu-narrow.dropdown-menu-left
            %li
              = link_to 'Редактировать', edit_couriers_company_path(couriers_company)
            %li
              = link_to 'Удалить', couriers_company, method: :delete, data: { confirm: 'Удалить место?' }