%p#notice= notice

%p
  %b Name:
  = @couriers_company.name
%p
  %b Zip code:
  = @couriers_company.zip_code
%p
  %b City:
  = @couriers_company.city
%p
  %b Street:
  = @couriers_company.street
%p
  %b House:
  = @couriers_company.house
%p
  %b Stroenie:
  = @couriers_company.stroenie
%p
  %b Office:
  = @couriers_company.office
%p
  %b Посылки в данное место:
  = @couriers_company.to_couriers_tasks.pluck(:name)
%p
  %b Посылки из данного места:
  = @couriers_company.from_couriers_tasks.pluck(:name)
%p
  %b Контактные лица:
%table
  %thead
    %tr
      %th Имя
      %th Телефон
      %th
  - @couriers_company.couriers_company_members.each do |member|
    %tr
      %td= member.name
      %td= member.telephone
      %td= link_to 'Удалить', [@couriers_company, member], method: :delete, data: { confirm: 'Удалить контактное лицо?' }

= link_to 'Edit', edit_couriers_company_path(@couriers_company)
\|
= link_to 'Back', couriers_companies_path
\|
= link_to 'Перейти к заказу курьера', new_couriers_task_path
