= form_tag documents_search_path, :method => :get do
  = hidden_field_tag 'search[only_uncompleted]'
  - if current_user.roles.first.name == 'chief_accountant'
    .row.row-accountant-actions
      .span12.pagination-centered
        .btn-group
          %button#accountant-new{:class => "btn #{params[:document_type] == 'documents_beznal_schet' && params[:search][:state] == 'new' && params[:search][:only_uncompleted] != 'true' ? "active" : ""}"} Новые счета
          %button#accountant-pay{:class => "btn #{params[:document_type] == 'documents_beznal_rashod' && params[:search][:state] == 'signed' ? "active" : ""}"} Оплатить
          %button.btn#accountant-close{:class => "btn #{params[:document_type] == 'documents_beznal_schet' && params[:search][:only_uncompleted] == 'true' ? "active" : ""}"} Подготовить закрывающие документы
  - elsif current_user.roles.first.name == 'administrative_director'
    .row.row-accountant-actions
      .span12.pagination-centered
        .btn-group
          %button#admindir-close{:class => "btn #{params[:document_type] == 'documents_beznal_schet' && params[:search][:state] == 'ready_to_post' ? "active" : ""}"} Отправить закрывающие документы
          %button#admindir-return{:class => "btn #{params[:document_type] == 'documents_beznal_rashod' && params[:search][:state] == 'received' ? "active" : ""}"} Вернуть акты поставщику
          %button#admindir-receive{:class => "btn #{params[:document_type] == 'documents_beznal_rashod' && params[:search][:state] == 'paid' ? "active" : ""}"} Получить закрывающие документы
          %button#admindir-return-our{:class => "btn #{params[:document_type] == 'documents_beznal_schet' && params[:search][:state] == 'posted' ? "active" : ""}"} Вернуть наши акты
  - elsif current_user.roles.first.name == 'general_director'
    .row.row-accountant-actions
      .span12.pagination-centered
        .btn-group
          %button#gendir-to-sign{:class => "btn #{params[:document_type] == 'documents_beznal_rashod' && params[:search][:state] == 'added' ? "active" : ""}"} На подпись: Безналичный расход
          %button#gendir-company-to-sign{:class => "btn #{params[:document_type] == 'company_consumption' && params[:search][:state] == 'added' ? "active" : ""}"} На подпись: Расходы компании

  .row
    .span3
      = select_tag :document_type, options_for_select(@document_types, params[:document_type]), :class => 'span3', :id => 'documents-filter-type'
    .span4
      = select_tag "search[state]", [], :class => 'span4', :id => 'documents-filter-status'
    .span4
      = submit_tag 'Искать', :class => 'btn', :id => 'documents-search-submit'
      %a.dashed#documents-advanced-toggle{:href => '#'} дополнительные параметры
  .row.hide#documents-advanced-search
    .well.well-small.span10
      %table.documents-search
        %tr
          %td.text-right Счет
          %td= text_field_tag("search[schet_num]", '', :class => 'no-margin document-search-input')
          %td= text_field_tag("search[schet_date]", '', :class => 'no-margin document-search-input date-picker', :placeholder => 'Дата')
          %td= text_field_tag("search[schet_sum]", '', :class => 'no-margin document-search-input', :placeholder => 'Сумма')
        %tr
          %td.text-right Акт №
          %td= text_field_tag("search[act_num]", '', :class => 'no-margin document-search-input')
          %td= text_field_tag("search[act_date]", '', :class => 'no-margin document-search-input date-picker', :placeholder => 'Дата')
          %td
        %tr
          %td.text-right Счет фактуры
          %td= text_field_tag("search[fact_num]", '', :class => 'no-margin document-search-input')
          %td= text_field_tag("search[fact_date]", '', :class => 'no-margin document-search-input date-picker', :placeholder => 'Дата')
          %td
