%h3.no-margin.documents-header.documents-header-search
  Поиск по документам
  = link_to 'Задолженности по документам', documents_path, class: 'btn btn-success btn-search'

= form_tag(search_documents_path, :method => "post") do
  %table.documents-search
    %tr
      %td.text-right Документы
      %td{colspan: 3}
        %label.checkbox.inline
          = check_box_tag(:type_in, 1, true)
          входящие
        %label.checkbox.inline
          = check_box_tag(:type_out)
          исходящие
    %tr
      %td.text-right Счет
      %td= text_field_tag("search[schet_num]", '', :class => 'no-margin document-search-input')
      %td= text_field_tag("search[schet_date]", '', :class => 'no-margin document-search-input date-picker', :placeholder => 'Дата')
      %td= text_field_tag("search[schet_sum]", '', :class => 'no-margin document-search-input', :placeholder => 'Сумма')
    %tr
      %td.text-right Акт №
      %td= text_field_tag("search[act_num]", '', :class => 'no-margin document-search-input')
      %td= text_field_tag("search[act_date]", '', :class => 'no-margin document-search-input date-picker', :placeholder => 'Дата')
      %td
    %tr
      %td.text-right Счет фактуры
      %td= text_field_tag("search[fact_num]", '', :class => 'no-margin document-search-input')
      %td= text_field_tag("search[fact_date]", '', :class => 'no-margin document-search-input date-picker', :placeholder => 'Дата')
      %td
    %tr
      %td
      %td{colspan:3}= submit_tag 'Искать', :class => 'btn', :id => 'submit-documents-search'

- if @documents_nal_prihod
  = @documents_nal_prihod.inspect
  %br
  %br

- if @documents_nal_rashod
  = @documents_nal_rashod.inspect
  %br
  %br

- if @documents_beznal_rashod
  = @documents_beznal_rashod.inspect
  %br
  %br

- if @documents_beznal_schet
  = @documents_beznal_schet.inspect
  %br
  %br

- content_for :title do
  Поиск по документам