= simple_form_for(@company, :html => {:class => 'form-company form-validate' }) do |f|
  = render 'layouts/errors', object: @company

  = f.label :name, "Полное наименование*"
  = f.text_field :name, :class => 'span8', "data-required" => 'true'

  = f.label :short_name, "Краткое наименование*"
  = f.select :company_type, [['ООО', 'ООО'], ['ОАО', 'ОАО'], ['ЗАО', 'ЗАО'], ['МОО', 'МОО'], ['НОА', 'НОА'], ['ИП', 'ИП']], {}, { :class => 'span1' }
  = f.text_field :short_name, :class => 'span4', "data-required" => 'true'
  
  %legend Юридический адрес

  .row
    .span2
      = f.label :ur_zip_code, "Индекс*"
      = f.text_field :ur_zip_code, :class => 'span2', "data-required" => 'true'
    .span3
      = f.label :ur_city, "Город*"
      = f.text_field :ur_city, :class => 'span3', "data-required" => 'true'
    .span3
      = f.label :ur_street, "Улица*"
      = f.text_field :ur_street, :class => 'span3', "data-required" => 'true'

  .row
    .span1
      = f.label :ur_house, "Дом*"
      = f.text_field :ur_house, :class => 'span1', "data-required" => 'true'
    .span1
      = f.label :ur_stroenie, "Строение"
      = f.text_field :ur_stroenie, :class => 'span1'
    .span1
      = f.label :ur_office, "Офис"
      = f.text_field :ur_office, :class => 'span1'

  %legend 
    Почтовый адрес (для отправки документов)
    %label.checkbox.pull-right
      = f.check_box :ur_post_equal
      Тот же

  #company-post-address{:class => ("hide" if @company.ur_post_equal?)}
    .row
      .span2
        = f.label :post_zip_code, "Индекс"
        = f.text_field :post_zip_code, :class => 'span2'
      .span3
        = f.label :post_city, "Город"
        = f.text_field :post_city, :class => 'span3'
      .span3
        = f.label :post_street, "Улица"
        = f.text_field :post_street, :class => 'span3'

    .row
      .span1
        = f.label :post_house, "Дом"
        = f.text_field :post_house, :class => 'span1'
      .span1
        = f.label :post_stroenie, "Строение"
        = f.text_field :post_stroenie, :class => 'span1'
      .span1
        = f.label :post_office, "Офис"
        = f.text_field :post_office, :class => 'span1'

  %legend Контактная информация
  .row
    .span2
      = f.label :telephone, "Телефон*"
      = f.text_field :telephone, :class => 'span2', "data-required" => 'true'
    .span3
      = f.label :fax, "Факс"
      = f.text_field :fax, :class => 'span3'
    .span3
      = f.label :email, "E-mail"
      = f.text_field :email, :class => 'span3'
  
  %legend Реквизиты
  .row
    .span2
      = f.label :inn, "ИНН*"
      = f.text_field :inn, :class => 'span2', "data-required" => 'true'
    .span2
      = f.label :kpp, "КПП*"
      = f.text_field :kpp, :class => 'span2', "data-required" => 'true'
    .span2
      = f.label :ogrn, "ОГРН"
      = f.text_field :ogrn, :class => 'span2'
  .row
    .span2
      = f.label :okpo, "ОКПО"
      = f.text_field :okpo, :class => 'span2'
    .span2
      = f.label :okved, "ОКВЭД"
      = f.text_field :okved, :class => 'span2'
    .span2
      = f.label :okato, "ОКАТО"
      = f.text_field :okato, :class => 'span2'
  %hr
  .row.form-horizontal.form-event-executor
    .control-group
      = f.label :ispolnitel, "Исполнитель (ген. директор, директор и др.)", :class => 'control-label'
      .controls
        = f.text_field :ispolnitel, :class => 'span5'
    .control-group
      = f.label :osnovanie_ispolnitel, "Действует на основании", :class => 'control-label'
      .controls
        = f.text_field :osnovanie_ispolnitel, :class => 'span5'
  %hr.no-topmargin

  %legend Банковские реквизиты
  .row
    .span4
      = f.label :bank_account, "Расчетный счет"
      = f.text_field :bank_account, :class => 'span4'
    .span4
      = f.label :bank_corr_account, "Корр. счет"
      = f.text_field :bank_corr_account, :class => 'span4'
  .row
    .span8
      = f.label :bank_name, "Наименование банка"
      = f.text_field :bank_name, :class => 'span8'
  
  %legend Адрес банка
  .row
    .span2
      = f.label :bank_zip, "Индекс"
      = f.text_field :bank_zip, :class => 'span2'
    .span3
      = f.label :bank_city, "Город*"
      = f.text_field :bank_city, :class => 'span3', "data-required" => 'true'
    .span3
      = f.label :bank_street, "Улица"
      = f.text_field :bank_street, :class => 'span3'

  .row
    .span1
      = f.label :bank_house, "Дом"
      = f.text_field :bank_house, :class => 'span1'
    .span1
      = f.label :bank_stroenie, "Строение"
      = f.text_field :bank_stroenie, :class => 'span1'
    .span1
      = f.label :bank_office, "Офис"
      = f.text_field :bank_office, :class => 'span1'

  .row
    .span2
      = f.label :bank_bik, "БИК"
      = f.text_field :bank_bik, :class => 'span2'

  %hr

  .row.pagination-centered
    .span8
      = f.button :submit, 'Сохранить', :class => 'btn-primary'
      - unless @company.id.blank?
        = link_to 'Удалить заказчика', @company, method: :delete, data: { confirm: 'Вы уверены?' }, :class => 'btn btn-danger pull-right'
