.row.row-top-actions
  .span8
    .input-prepend.pull-left
      %span.add-on
        %i.icon-search
      %input.span4#input-filter{:placeholder => "Поиск", :type => "text"}
  .span4
    = link_to 'Добавить заказчика', new_company_path, :class => 'btn btn-success pull-right'

%table.table.table-striped.table-condensed.table-hover.table-links#table-filter
  %thead
    %tr
      %th.td-25{'data-sort' => 'string'} Заказчик
      %th.td-15{'data-sort' => 'string'} Телефон
      %th.td-25{'data-sort' => 'string'} Почта
      %th.td-10.pagination-centered{'data-sort' => 'string'} Мероприятий
      %th.td-15{'data-sort' => 'string'} Перечислено
      %th.td-10.text-right.th-count 
        Всего:
        %span#table-filter-count= @companies.count

  - @companies.each do |company|
    %tr{"data-link" => url_for(:action => 'show', :id => company.id)}
      %td= company.name
      %td= company.telephone
      %td= company.email
      %td.pagination-centered= company.events.count
      %td
        #{company.transferred_funds} руб.
      %td
        .btn-group.pull-right
          = link_to 'Войти', company, {:class => 'btn btn-mini'}
          %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu.dropdown-menu-narrow.dropdown-menu-left
            %li
              = link_to 'Редактировать', edit_company_path(company)
            %li
              = link_to 'Удалить', company, method: :delete, data: { confirm: 'Удалить заказчика?' }

- content_for :title do
  Заказчики
