.row.row-top-actions
  .span8
    .input-prepend.pull-left
      %span.add-on
        %i.icon-search
      %input.span4#input-filter{:placeholder => "Поиск", :type => "text"}
  .span4
    = link_to 'Добавить заказчика', new_company_path, :class => 'btn pull-right'

%table.table.table-striped.table-condensed.table-hover.table-links#table-filter
  %thead
    %tr
      %th{'data-sort' => 'string'} Заказчик
      %th{'data-sort' => 'string'} Представитель
      %th{'data-sort' => 'string'} Количество мероприятий
      %th{'data-sort' => 'string'} Перечисленные средства
      %th

  - @companies.each do |company|
    %tr{"data-link" => url_for(:action => 'show', :id => company.id)}
      %td.company-name= company.name
      %td.company-members
        - if company_member = company.company_members.first
          = [company_member.name, company_member.position, company_member.telephone, company_member.email].reject(&:empty?).join(', ')
      %td.company-events= company.events.count
      %td.company-events= company.transferred_funds
      %td.event-actions
        .btn-group.pull-right
          = link_to 'Показать', company, {:class => 'btn btn-mini'}
          %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu.dropdown-menu-narrow.dropdown-menu-left
            %li
              = link_to 'Редактировать', edit_company_path(company)
            %li
              = link_to 'Удалить', company, method: :delete, data: { confirm: 'Удалить заказчика?' }

- content_for :title do
  Заказчики
