%ul.breadcrumb
  %li
    = link_to 'Заказчики', companies_path
    %span.divider /
  %li.active 
    = @company.name
    %span.divider
      |
  %li
    = link_to 'редактирование', edit_company_path(@company)

%h3.no-margin= @company.name
- unless @company.short_name.blank?
  %p.no-margin "#{@company.company_type} #{@company.short_name}"

.row.row-company-info
  .span9.company-info
    %h4.no-margin Контактная информация
    %h5.no-margin
      Юридический адрес
      - if @company.ur_post_equal
        (почтовый адрес тот же)
    %p
      %span>= "#{@company.ur_zip_code}, г.#{@company.ur_city}, ул.#{@company.ur_street}, дом #{@company.ur_house}"
      - unless @company.ur_stroenie.blank?
        %span>= ", строение #{@company.ur_stroenie}"
      - unless @company.ur_office.blank?
        = ", офис #{@company.ur_office}"
    - unless @company.ur_post_equal
      - if !@company.post_zip_code.blank? or !@company.post_city.blank? or !@company.post_street.blank? or !@company.post_house.blank? or !@company.post_stroenie.blank? or !@company.post_office.blank?
        %h5.no-margin Почтовый адрес
        %p
          %span>= "#{@company.post_zip_code}, г.#{@company.post_city}, ул.#{@company.post_street}, дом #{@company.post_house}"
          - unless @company.post_stroenie.blank?
            %span>= ", строение #{@company.post_stroenie}"
          - unless @company.post_office.blank?
            = ", офис #{@company.post_office}"

    - unless @company.telephone.blank?
      %p
        %b Телефон
        %br
        = @company.telephone
    - unless @company.fax.blank?
      %p
        %b Факс
        %br
        = @company.fax
    - unless @company.email.blank?
      %p
        %b Электронная почта
        %br
        = @company.email
    %hr
    %h4.no-margin Реквизиты
    %table.table.table-bordered.table-condensed
      %tr
        %td
          - unless @company.inn.blank?
            %b ИНН
            %br
            = @company.inn
        %td
          - unless @company.kpp.blank?
            %b КПП
            %br
            = @company.kpp
        %td
          - unless @company.ogrn.blank?
            %b ОГРН
            %br
            = @company.ogrn
      %tr
        %td
          - unless @company.okpo.blank?
            %b ОКПО
            %br
            = @company.okpo
        %td
          - unless @company.okved.blank?
            %b ОКВЕД
            %br
            = @company.okved
        %td
          - unless @company.okato.blank?
            %b ОКАТО
            %br
            = @company.okato
    - unless @company.ispolnitel.blank?
      %p
        %b Исполнитель
        %br
        = @company.ispolnitel
    - unless @company.osnovanie_ispolnitel.blank?
      %p
        %b Действует на основании
        %br
        = @company.osnovanie_ispolnitel
    %hr
    %h4 Банковские реквизиты
    - unless @company.bank_name.blank?
      %p
        %b Название банка
        %br
        = @company.bank_name
    - unless @company.bank_account.blank?
      %p
        %b Расчетный счет
        %br
        = @company.bank_account
    - unless @company.bank_corr_account.blank?
      %p
        %b Корр.счет
        %br
        = @company.bank_corr_account
    %p
      %b Адрес банка
      %br
      %span>= "#{@company.bank_zip}, г.#{@company.bank_city}, ул.#{@company.bank_street}, дом #{@company.bank_house}"
      - unless @company.bank_stroenie.blank?
        %span>= ", строение #{@company.bank_stroenie}"
      - unless @company.bank_office.blank?
        = ", офис #{@company.bank_office}"
    - unless @company.bank_bik.blank?
      %p
        %b БИК
        %br
        = @company.bank_bik

%hr

.row.row-top-actions
  .span8
    .input-prepend.pull-left
      %span.add-on
        %i.icon-search
      %input.span4#input-filter{:placeholder => "Поиск представителей", :type => "text"}
  .span4
    = link_to 'Добавить представителя', new_company_company_member_path(@company), :class => 'btn pull-right'

.row
  .span12
    - if @company.company_members.length > 0
      %table.table.table-striped.table-condensed.table-hover#table-filter
        %thead
          %tr
            %th.td-30{'data-sort' => 'string'} ФИО
            %th.td-20{'data-sort' => 'string'} Должность
            %th.td-15{'data-sort' => 'string'} Телефон
            %th.td-25{'data-sort' => 'string'} E-mail
            %th.td-10

        - @company.company_members.each do |member|
          %tr
            %td= member.name
            %td= member.position
            %td= member.telephone
            %td= member.email
            %td
              .btn-group.pull-right
                = link_to 'Редактировать', edit_company_company_member_path(@company, member), {:class => 'btn btn-mini'}
                %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
                  %span.caret
                %ul.dropdown-menu.dropdown-menu-narrow.dropdown-menu-left
                  %li
                    = link_to 'Удалить', [@company, member], method: :delete, data: { confirm: 'Удалить представителя?' }

:javascript
  window.companyMembers = #{@company.company_members.to_json}

- content_for :title do
  = "Заказчики / #{@company.name}"
