%ul.breadcrumb
  %li
    = link_to 'Заказчики', companies_path
    %span.divider /
  %li.active 
    = @company.name
    %span.divider
      |
  %li
    = link_to 'редактирование', edit_company_path(@company)

%h3.no-margin= @company.name
- unless @company.short_name.blank?
  %p.no-margin "#{@company.company_type} #{@company.short_name}"

.row.row-company-info
  .span9.company-info
    %span6
    %h4.no-margin Контактная информация
    %h5.no-margin
      Юридический адрес
      - if @company.ur_post_equal
        (почтовый адрес тот же)
    %p
      %span>= "#{@company.ur_zip_code}, г.#{@company.ur_city}, ул.#{@company.ur_street}, дом #{@company.ur_hous}"
      - unless @company.ur_stroenie.blank?
        %span>= ", строение #{@company.ur_stroenie}"
      - unless @company.ur_office.blank?
        = ", офис #{@company.ur_office}"
    - unless @company.ur_post_equal
      - if !@company.post_zip_code.blank? or !@company.post_city.blank? or !@company.post_street.blank? or !@company.post_house.blank? or !@company.post_stroenie.blank? or !@company.post_office.blank?
        %h5.no-margin Почтовый адрес
        %p
          %span>= "#{@company.post_zip_code}, г.#{@company.post_city}, ул.#{@company.post_street}, дом #{@company.post_house}"
          - unless @company.post_stroenie.blank?
            %span>= ", строение #{@company.post_stroenie}"
          - unless @company.post_office.blank?
            = ", офис #{@company.post_office}"

    - unless @company.telephone.blank?
      %p
        %b Телефон
        %br
        = @company.telephone
    - unless @company.fax.blank?
      %p
        %b Факс
        %br
        = @company.fax
    - unless @company.email.blank?
      %p
        %b Электронная почта
        %br
        = @company.email
    %hr
    %h4.no-margin Реквизиты
    %table.table.table-bordered.table-condensed
      %tr
        %td
          - unless @company.inn.blank?
            %b ИНН
            %br
            = @company.inn
        %td
          - unless @company.kpp.blank?
            %b КПП
            %br
            = @company.kpp
        %td
          - unless @company.ogrn.blank?
            %b ОГРН
            %br
            = @company.ogrn
      %tr
        %td
          - unless @company.okpo.blank?
            %b ОКПО
            %br
            = @company.okpo
        %td
          - unless @company.okved.blank?
            %b ОКВЕД
            %br
            = @company.okved
        %td
          - unless @company.okato.blank?
            %b ОКАТО
            %br
            = @company.okato
    - unless @company.ispolnitel.blank?
      %p
        %b Исполнитель
        %br
        = @company.ispolnitel
    - unless @company.osnovanie_ispolnitel.blank?
      %p
        %b Действует на основании
        %br
        = @company.osnovanie_ispolnitel
    %hr
    %h4 Банковские реквизиты
    - unless @company.bank_name.blank?
      %p
        %b Название банка
        %br
        = @company.bank_name
    - unless @company.bank_account.blank?
      %p
        %b Расчетный счет
        %br
        = @company.bank_account
    - unless @company.bank_corr_account.blank?
      %p
        %b Корр.счет
        %br
        = @company.bank_corr_account
    %p
      %b Адрес банка
      %br
      %span>= "#{@company.bank_zip}, г.#{@company.bank_city}, ул.#{@company.bank_street}, дом #{@company.bank_house}"
      - unless @company.bank_stroenie.blank?
        %span>= ", строение #{@company.bank_stroenie}"
      - unless @company.bank_office.blank?
        = ", офис #{@company.bank_office}"
    - unless @company.bank_bik.blank?
      %p
        %b БИК
        %br
        = @company.bank_bik

  .span3
    %h4.no-margin
      Представители
      %a{:href => '#', :class => 'btn btn-mini', "data-toggle" => "modal", :href => "#companyMemberModal", :id => "newCompanyMember"} добавить
    - if @company.company_members.length > 0
      %ul.unstyled.company-members
        - @company.company_members.each do |member|
          %li{'data-member-id' => member.id}
            %a{"data-toggle" => "modal", :href => "#companyMemberModal", :class => 'company-member-edit'}>= member.name
            - unless member.position.empty?
              = ", #{member.position}"
            - if !member.telephone.empty? && !member.email.empty?
              %br
              = "#{member.telephone}, " 
              = mail_to member.email
            - elsif !member.telephone.empty? || !member.email.empty?
              %br
              = member.telephone unless member.telephone.empty?
              = mail_to member.email unless member.email.empty?

#companyMemberModal.form-validate.modal.hide.fade{:role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3 Новый представитель
  .modal-body.form-horizontal
    %input{:type => 'hidden', :id => "memberId"}
    %input{:type => 'hidden', :id => "companyId", :value => @company.id}
    .control-group
      %label.control-label{:for => "memberName"} ФИО
      .controls
        %input#memberName{:type => "text", "data-required" => 'true'}
    .control-group
      %label.control-label{:for => "memberPhone"} Телефон
      .controls
        %input#memberPhone{:type => "text"}
    .control-group
      %label.control-label{:for => "memberPosition"} Должность
      .controls
        %input#memberPosition{:type => "text"}
    .control-group
      %label.control-label{:for => "memberEmail"} E-mail
      .controls
        %input#memberEmail{:type => "email"}
  .modal-footer
    = button_tag 'Удалить', :class => 'btn', :id => 'delete-member'
    = button_tag 'Добавить', :class => 'btn btn-primary', :id => 'save-member'

:javascript
  window.companyMembers = #{@company.company_members.to_json}

- content_for :title do
  = "Заказчики / #{@company.name}"