= simple_form_for([@company, @company_member]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :telephone
    = f.input :position
    = f.input :email

  .form-actions
    = f.button :submit
