= simple_form_for([@company, @company_member], :html => {:class => 'form-validate' }) do |f|
  = render 'layouts/errors', object: @company_member

  = f.label :name, "ФИО*"
  = f.text_field :name, :class => 'span4', "data-required" => 'true'

  = f.label :position, "Должность*"
  = f.text_field :position, :class => 'span4', "data-required" => 'true'

  = f.label :telephone, "Телефон*"
  = f.text_field :telephone, :class => 'span4', "data-required" => 'true'

  = f.label :email, "E-mail*"
  = f.text_field :email, :class => 'span4', "data-required" => 'true'
  
  %br

  = f.submit 'Сохранить', :class => 'btn btn-primary btn-primary-submit'
