%ul.breadcrumb
  %li
    = link_to 'Заказчики', companies_path
    %span.divider /
  %li
    = link_to @company.name, @company
    %span.divider /
  %li.active
    = @company_member.name

= render 'form'

- content_for :title do
  = "Заказчики / #{@company.name} / #{@company_member.name}"