%h1 Listing company_members

%table
  %tr
    %th Company
    %th Name
    %th Telephone
    %th Position
    %th Email
    %th
    %th
    %th

  - @company_members.each do |company_member|
    %tr
      %td= company_member.company_id
      %td= company_member.name
      %td= company_member.telephone
      %td= company_member.position
      %td= company_member.email
      %td= link_to 'Show', company_member
      %td= link_to 'Edit', edit_company_member_path(company_member)
      %td= link_to 'Destroy', company_member, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Company member', new_company_member_path
