%h1 Listing company_members in company: #{@company[:name]}

%table
  %tr
    %th Company
    %th Name
    %th Telephone
    %th Position
    %th Email
    %th
    %th
    %th

  - @company_members.includes(:company).each do |company_member|
    %tr
      %td= company_member.company[:name]
      %td= company_member.name
      %td= company_member.telephone
      %td= company_member.position
      %td= company_member.email
      %td= link_to 'Show', [@company, company_member]
      %td= link_to 'Edit', edit_company_company_member_path(@company, company_member)
      %td= link_to 'Destroy', [@company, company_member], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Company member', new_company_company_member_path(@company)
%br
%br
= link_to "Back to companies list", companies_path
