%ul.breadcrumb
  %li
    = link_to 'Мероприятия', events_path
    %span.divider /
  %li
    = link_to @event.name, @event
    %span.divider /
  %li.active
    = link_to 'Безналичный приход', [@event, @documents_beznal_schet]
    %span.divider
      |
    редактирование

= render 'form'

- if @current_user.roles.first.name == 'administrative_director'
  :javascript
    window.old_state_act = "#{@documents_beznal_schet.info_state_act}";
    window.old_state = "#{@documents_beznal_schet.state}";
    window.old_return_status = "#{@documents_beznal_schet.info_return_status}";
    window.doc_url = "#{url_for([@event, @documents_beznal_schet])}";
    window.doc_type = 'documents_beznal_schet';


- content_for :title do
  #{@event.name} - редактирование безналичного счета