%h1 Listing documents_beznal_schets
%h3= "Событие: #{@event.name}"

%table
  %tr
    %th СТАТУС
    %th Документ создал
    %th Компания
    %th Назначение платежа
    %th ФИО заказчика
    %th Моб. тел.заказчика
    %th Номер счета
    %th Дата счета
    %th Сумма
    %th НДС
    %th Дата оплаты
    %th
    %th
    %th

  - @documents_beznal_schets.includes([:user, :company]).each do |documents_beznal_schet|
    %tr
      %td= documents_beznal_schet.human_state_name.capitalize
      %td= documents_beznal_schet.user[:name]
      %td= link_to documents_beznal_schet.company[:name], company_path(documents_beznal_schet.company)
      %td= documents_beznal_schet.description
      %td= documents_beznal_schet.name
      %td= documents_beznal_schet.telephone
      %td= documents_beznal_schet.num_schet
      %td= documents_beznal_schet.date_schet
      %td= documents_beznal_schet.summ
      %td= documents_beznal_schet.nds
      %td= documents_beznal_schet.payment_date
      - links_collection(@event, documents_beznal_schet)

%br
-if can? :create, DocumentsBeznalRashod.new
  = link_to 'Создать документ безналичного расхода', new_event_documents_beznal_schet_path(@event)
%br
= link_to "Вернуться к событию: #{@event[:name]}", event_path(@event)
