%ul.breadcrumb
  %li
    = link_to 'Мероприятия', events_path
    %span.divider /
  %li
    = link_to @event.name, @event
    %span.divider /
  %li.active
    Безналичный приход
  - if can? :update, @documents_beznal_schet
    %li
      %span.divider
        |
      = link_to 'редактирование', edit_event_documents_beznal_schet_path(@event, @documents_beznal_schet)

%p#notice= notice

%p
  = event_state_text @documents_beznal_schet.state
  %span= @documents_beznal_schet.state_note
%h4 
  Счет №#{@documents_beznal_schet.num_schet} от #{@documents_beznal_schet.date_schet.strftime("%d.%m.%Y")}
%p
  %b Заказчик
  %br
  = link_to @documents_beznal_schet.company[:name], company_path(@documents_beznal_schet.company)
%p
  %b Назначение платежа
  %br
  = @documents_beznal_schet.description
%p
  %b ФИО заказчика
  %br
  = @documents_beznal_schet.name
%p
  %b Телефон заказчика
  %br
  = @documents_beznal_schet.telephone
%p
  %b Сумма
  %br
  = @documents_beznal_schet.summ
%p
  %b НДС
  %br
  = @documents_beznal_schet.nds
%p
  %b Договор №
  %br
  = @documents_beznal_schet.dogovor_num
%p
  %b Дата договора
  %br
  - if @documents_beznal_schet.dogovor_date.blank?
    —
  - else
    = @documents_beznal_schet.dogovor_date.strftime("%d.%m.%Y")

%hr
%h4 Информация по исходящим закрывающим документам

%p
  %b Счет фактура №
  %br
  = @documents_beznal_schet.info_schet_factura
%p
  %b Акт №
  %br
  = @documents_beznal_schet.info_act
%p
  %b Дата сч. фактуры
  %br
  - if @documents_beznal_schet.info_date_schet.blank?
    —
  - else
    = @documents_beznal_schet.info_date_schet.strftime("%d.%m.%Y")
%p
  %b Дата акта
  %br
  - if @documents_beznal_schet.info_date_act.blank?
    —
  - else
    = @documents_beznal_schet.info_date_act.strftime("%d.%m.%Y")

%hr
%h4 Информация по передаче счета
%p
  %b Статус отправления
  %br
  = @documents_beznal_schet.info_state_act
%p
  %b Дата отправления
  %br
  - if @documents_beznal_schet.info_return_date.blank?
    —
  - else
    = @documents_beznal_schet.info_return_date.strftime("%d.%m.%Y")
%p
  %b Способ отправления
  %br
  = @documents_beznal_schet.info_type_return_act
%p
  %b ФИО отправителя
  %br
  = @documents_beznal_schet.info_name_sender

%hr
%p
  %b Дата оплаты:
  - if @documents_beznal_schet.payment_date.blank?
    —
  - else
    = @documents_beznal_schet.payment_date.strftime("%d.%m.%Y")

- content_for :title do
  Мероприятия / #{@event.name} / Безналичный приход