= simple_form_for([@event, @documents_nal_prihod]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :company,     :label => 'Плательщик'
    = f.input :description, :label => 'Назначение платежа'
    = f.input :name,        :label => 'ФИО плательщика'
    = f.input :telephone,   :label => 'Моб. тел. плательщика'
    = f.input :summ,        :label => 'Сумма'
    = f.input :date,        :label => 'Дата оплаты'

  .form-actions
    = f.button :submit
