= simple_form_for([@event, @documents_nal_prihod], :html => {:class => 'form-validate' }) do |f|
  = f.error_notification

  = f.label :company, "Плательщик*"
  = f.text_field :company, :class => 'span7', "data-required" => 'true'

  = f.label :description, "Назначение платежа*"
  = f.text_field :description, :class => 'span7', "data-required" => 'true'

  .row
    .span4
      = f.label :name, "ФИО плательщика"
      = f.select :name, User.all.collect {|u| [ u.name, u.name ] }, {}, :class => 'span4'
    .span3
      = f.label :telephone, "Мобильный телефон плательщика"
      = f.text_field :telephone, :class => 'span3'

  .row
    .span2
      = f.label :summ, "Сумма*"
      = f.text_field :summ, :class => 'span2', "data-required" => 'true'
    .span2
      = f.label :date, "Дата оплаты*", :class => 'no-margin pull-right date-label-width'
      %br
      .input-prepend.input-prepend-margin.date-picker.pull-right{"data-date" => (@documents_nal_prihod.date.strftime("%d.%m.%Y") unless @documents_nal_prihod.date.blank?) }
        %span.add-on
          %i.icon-calendar
        = f.text_field :date, :class => 'input-date', "data-required" => 'true', :value => (@documents_nal_prihod.date.strftime("%d.%m.%Y") unless @documents_nal_prihod.date.blank?)

  = f.button :submit, 'Сохранить', :class => 'btn btn-primary btn-primary-submit'
