%ul.breadcrumb
  %li
    = link_to 'Мероприятия', events_path
    %span.divider /
  %li
    = link_to @event.name, @event
    %span.divider /
  %li.active
    = link_to 'Наличный приход', [@event, @documents_nal_prihod]
    %span.divider
      |
    редактирование

= render 'form'

- content_for :title do
  #{@event.name} - редактирование наличного прихода