%h1 Listing documents_nal_prihods

%table
  %tr
    %th User
    %th Company
    %th Description
    %th Name
    %th Telephone
    %th Summ
    %th Date
    %th
    %th
    %th

  - @documents_nal_prihods.each do |documents_nal_prihod|
    %tr
      %td= documents_nal_prihod.user_id
      %td= documents_nal_prihod.company
      %td= documents_nal_prihod.description
      %td= documents_nal_prihod.name
      %td= documents_nal_prihod.telephone
      %td= documents_nal_prihod.summ
      %td= documents_nal_prihod.date
      %td= link_to 'Show', documents_nal_prihod
      %td= link_to 'Edit', edit_documents_nal_prihod_path(documents_nal_prihod)
      %td= link_to 'Destroy', documents_nal_prihod, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Documents nal prihod', new_documents_nal_prihod_path
