%h1 Listing documents_nal_prihods
%h1= "Событие: #{@event.name}"

%table
  %tr
    %th СТАТУС
    %th Документ создал
    %th Плательщик
    %th Назначение платежа
    %th ФИО плательщика
    %th Моб. тел. плательщика
    %th Сумма
    %th Дата оплаты
    %th
    %th
    %th

  - @documents_nal_prihods.includes(:user).each do |documents_nal_prihod|
    %tr
      %td= documents_nal_prihod.human_state_name.capitalize
      %td= documents_nal_prihod.user[:name]
      %td= documents_nal_prihod.company
      %td= documents_nal_prihod.description
      %td= documents_nal_prihod.name
      %td= documents_nal_prihod.telephone
      %td= documents_nal_prihod.summ
      %td= documents_nal_prihod.date
      - links_collection(@event, documents_nal_prihod)

%br
%br
-if can? :create, DocumentsBeznalRashod.new
  = link_to 'Создать документ наличного расхода', new_event_documents_nal_prihod_path(@event)
%br
= link_to "Вернуться к событию: #{@event[:name]}", event_path(@event)
