%ul.breadcrumb
  %li
    = link_to 'Мероприятия', events_path
    %span.divider /
  %li
    = link_to @event.name, @event
    %span.divider /
  %li.active
    Наличный приход

%p#notice= notice

%p
  %span.label= event_state_text @documents_nal_prihod.state
  %span= @documents_nal_prihod.state_note
%p
  %b Плательщик
  %br
  = @documents_nal_prihod.company
%p
  %b Назначение платежа
  %br
  = @documents_nal_prihod.description
%p
  %b ФИО плательщика
  %br
  = @documents_nal_prihod.name
%p
  %b Телефон плательщика
  %br
  = @documents_nal_prihod.telephone
%p
  %b Сумма
  %br
  = @documents_nal_prihod.summ
%p
  %b Дата оплаты
  %br
  = @documents_nal_prihod.date.strftime("%d.%m.%Y")

- content_for :title do
  Мероприятия / #{@event.name} / Наличный приход