%h1= "Событие: #{@event[:name]}"
%h2= "Наличные, приход"

%p#notice= notice

%p
  %b Документ создал:
  = @documents_nal_prihod.user[:name]
%p
  %b Плательщик:
  = @documents_nal_prihod.company
%p
  %b Назначение платежа:
  = @documents_nal_prihod.description
%p
  %b ФИО плательщика:
  = @documents_nal_prihod.name
%p
  %b Моб. тел. плательщика:
  = @documents_nal_prihod.telephone
%p
  %b Сумма:
  = @documents_nal_prihod.summ
%p
  %b Дата оплаты:
  = @documents_nal_prihod.date

= link_to 'Edit', edit_event_documents_nal_prihod_path(@event, @documents_nal_prihod)
\|
= link_to 'Back', event_documents_nal_prihods_path(@event)
