.row.row-top-actions
  .span8
    = form_tag(profitability_path, :method => 'GET') do
      %input{:type => "hidden", :name => "from", :id => "report-from", :value => params[:from]}
      %input{:type => "hidden", :name => "to", :id => "report-to", :value => params[:to]}
      .input-prepend.pull-left
        %span.add-on
          %i.icon-calendar
        - if params[:from] and params[:to]
          %input{:type => "text", :readonly => "readonly", :class => 'input-daterange', :id => 'report-daterange', :value => "#{params[:from].strftime("%d.%m.%Y")} - #{params[:to].strftime("%d.%m.%Y")}", :placeholder => 'За все время', 'data-datestart' => params[:from].strftime("%m.%d.%Y"), 'data-dateend' => params[:to].strftime("%m.%d.%Y")}
        - else
          %input{:type => "text", :readonly => "readonly", :class => 'input-daterange', :id => 'report-daterange', :placeholder => 'За все время',  'data-datestart' => DateTime.now.strftime("%d.%m.%Y"), 'data-dateend' => DateTime.now.strftime("%d.%m.%Y")}
      = submit_tag 'Показать данные', :class => 'btn logout-link'

.row
  .span12
    - unless @events.empty?
      %h3.pagination-centered Доход от мероприятий
      - sum_nds_k_uplate = 0
      - sum_profit = 0
      - @events.each do |event|
        - unless event.documents_beznal_schets.empty? and event.documents_nal_prihods.empty? and event.documents_beznal_rashods.empty? and event.documents_nal_rashods.empty?
          - prihod_summ = event.documents_nal_prihods.sum(:summ) + event.documents_beznal_schets.sum(:summ)
          - rashod_summ = event.documents_nal_rashods.sum(:summ) + event.documents_beznal_rashods.sum(:summ)
          %p.profitability-event= "#{event.city}, #{event.name}, #{event.date_start.strftime("%d.%m.%Y")} - #{event.date_end.strftime("%d.%m.%Y")}"
          %table.table.table-striped.table-condensed.table-bordered.table-center
            %thead.thead-small
              %tr
                %th Прибыль без учета НДС
                %th НДС к уплате (с выставленных счетов)
                %th НДС к зачету (с оплаченных счетов)
                %th Остаток НДС к уплате
                %th Прибыль с учетом НДС

            %tbody
              %tr
                %td #{prihod_summ - rashod_summ}р.
                %td #{nds_k_uplate = event.documents_beznal_schets.where('type_schet != 0').sum(:nds)}р.
                %td #{nds_k_zachetu = event.documents_beznal_rashods.where(:type_rashod => 2).sum(:nds)}р.
                %td #{ost_nds_k_uplate = nds_k_uplate - nds_k_zachetu}р.
                %td #{profit = (prihod_summ - rashod_summ) - (nds_k_uplate - nds_k_zachetu)}р.
          - sum_nds_k_uplate += ost_nds_k_uplate
          - sum_profit  += profit

    %h3.pagination-centered Расходы компании
    - unless @documents_beznal_rashods.empty?
      %h4.pagination-centered Расход безналичный
      %table.table.table-bordered.table-condensed.table-bordered.table-center.table-links
        %thead.thead-small
          %tr
            %th.td-10
            %th Получатель
            %th.td-25{colspan: 2} Платежные документы
            %th.td-10 Статус
            %th.td-10 Сумма
            %th.td-10 Включая НДС
            %th.td-10 Действия

        - @documents_beznal_rashods.each do |doc|
          %tr{"data-link" => company_beznal_rashod_path(doc)}
            %td{rowspan: 10}= event_state_text doc.state
            %td{rowspan: 5}= doc.company
            %td Счет №
            %td= doc.num_schet
            %td{rowspan: 5}= doc.info_state_act
            %td{rowspan: 10} #{doc.summ}р.
            %td{rowspan: 10} #{doc.nds}р.
            %td{rowspan: 10}
              .btn-group
                = link_to 'войти', company_beznal_rashod_path(doc), class: 'btn btn-mini'
                %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
                  %span.caret
                %ul.dropdown-menu.dropdown-menu-narrow.dropdown-menu-left
                  - links_collection(@event, doc)
          %tr{"data-link" => company_beznal_rashod_path(doc)}
            %td Дата счета
            %td= doc.date_schet.strftime("%d.%m.%y") unless doc.date_schet.blank?
          %tr{"data-link" => company_beznal_rashod_path(doc)}
            %td Дата оплаты
            %td{:class => ("payment-alert" if doc.info_date_pay.blank?)}
              = doc.info_date_pay.strftime("%d.%m.%y") unless doc.info_date_pay.blank?
          %tr{"data-link" => company_beznal_rashod_path(doc)}
            %td № п/п
            %td= doc.info_pp
          %tr{"data-link" => company_beznal_rashod_path(doc)}
            %td Счет фактура №
            %td= doc.info_schet_factura
          %tr{"data-link" => company_beznal_rashod_path(doc)}
            %td{rowspan: 5}= doc.description
            %td Дата сч. фактуры
            %td= doc.info_date_schet.strftime("%d.%m.%Y") unless doc.info_date_schet.blank?
            %td{rowspan: 5}= RASHOD_TYPES[doc.type_rashod.to_s][:title] unless doc.type_rashod.blank?
          %tr{"data-link" => company_beznal_rashod_path(doc)}
            %td Акт №
            %td= doc.info_act
          %tr{"data-link" => company_beznal_rashod_path(doc)}
            %td Дата акта
            %td= doc.info_date_act.strftime("%d.%m.%Y") unless doc.info_date_act.blank?
          %tr{"data-link" => company_beznal_rashod_path(doc)}
            %td Договор №
            %td= doc.dogovor_num
          %tr{"data-link" => company_beznal_rashod_path(doc)}
            %td Дата договора
            %td= doc.dogovor_date.strftime("%d.%m.%Y") unless doc.dogovor_date.blank?
        %tr
          %td{colspan:5}
            %span.pull-right Итого:
          %td #{@documents_beznal_rashods.sum(:summ)}р.
          %td #{@documents_beznal_rashods.sum(:nds)}р.
          %td

    - unless @documents_nal_rashods.empty?
      %h4.pagination-centered Расход наличный
      %table.table.table-striped.table-condensed.table-bordered.table-center.table-links
        %thead.thead-small
          %tr
            %th.td-10
            %th Получатель
            %th.td-25 Назначение платежа
            %th.td-10 Статус
            %th.td-10 Дата оплаты
            %th.td-10 Сумма
            %th.td-10 Действия

        - @documents_nal_rashods.each do |doc|
          %tr{"data-link" => company_nal_rashod_path(doc)}
            %td= event_state_text doc.state
            %td= doc.company
            %td= doc.description
            %td= RASHOD_TYPES[doc.type_rashod.to_s][:title] unless doc.type_rashod.blank?
            %td{:class => ("payment-alert" if doc.date.blank?)}
              = doc.date.strftime("%d.%m.%y") unless doc.date.blank?
            %td #{doc.summ}р.
            %td
              .btn-group
                = link_to 'войти', company_nal_rashod_path(doc), class: 'btn btn-mini'
                %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
                  %span.caret
                %ul.dropdown-menu.dropdown-menu-narrow.dropdown-menu-left
                  - links_collection(@event, doc)
        %tr
          %td{colspan: 5}
            %span.pull-right Итого:
          %td #{@documents_nal_rashods.sum(:summ)}р.
          %td

    %h3.pagination-centered 
      Итого НДС к уплате: #{sum_nds_k_uplate} руб.
      %br
      Прибыль: #{sum_profit.to_i - @rashod_summ.to_i} руб.

#changeEventStateModal.modal.hide.fade{:role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3#document-state-title
  .modal-body
    Примечание
    %br
    = text_area_tag(:document_state_note, '', :class => "input-modal-full")
  .modal-footer
    = link_to 'Сохранить', '#', :class => 'btn btn-primary', :id => 'document-state-save', 'data-method' => 'put'

- content_for :title do
  Рентабельность компании
