= link_to "Pharm Event", root_path, :class => 'brand'
%ul.nav
  %li{:class => ("active" if current_page?(:controller => 'events', :action => 'index'))}
    = link_to 'Мероприятия', events_path
  %li{:class => ("active" if current_page?(:controller => 'couriers_tasks', :action => 'index'))}
    = link_to 'Курьеры', couriers_tasks_path
  %li{:class => ("active" if current_page?(:controller => 'companies', :action => 'index'))}
    = link_to 'Заказчики', companies_path
  %li{:class => ("active" if current_page?(:controller => 'clients', :action => 'index'))}
    = link_to 'Клиенты', clients_path
  %li
    %a{:href => "#"} Поставщики
  %li
    %a{:href => "#"} Документы
  %li
    %a{:href => "#"} Отчеты
  %li
    %a{:href => "#"} Архив
  - if can? :manage, User
    %li
      = link_to 'Пользователи', users_path
    %li
      = link_to 'Админка', rails_admin_path

%p.navbar-text.pull-right
  %b= "#{current_user.name}"
  = link_to 'выйти', destroy_user_session_path, :method=>'delete', :class => 'navbar-link logout-link'