= link_to "Pharm Event", root_path, :class => 'brand'
%ul.nav
  %li{:class => ("active" if current_page?(url_for(:controller => 'events', :action => 'index')) or current_page? root_path)}
    = link_to 'Мероприятия', events_path
  %li{:class => ("active" if current_page?(:controller => 'couriers_tasks', :action => 'index'))}
    = link_to 'Курьеры', couriers_tasks_path
  %li{:class => ("active" if current_page?(:controller => 'companies', :action => 'index'))}
    = link_to 'Заказчики', companies_path
  %li{:class => ("active" if current_page?(:controller => 'clients', :action => 'index'))}
    = link_to 'Клиенты', clients_path
  / %li
  /   %a{:href => "#"} Поставщики
  %li{:class => ("active" if current_page?(:controller => 'documents', :action => 'index'))}
    = link_to 'Документы', documents_path
  %li{:class => ("active" if current_page?(:controller => 'reports', :action => 'index'))}
    = link_to 'Отчеты', reports_path
  - if can? :manage, :company_consumption
    %li{:class => ("active" if current_page?(:controller => 'company_consumptions', :action => 'index'))}
      = link_to 'Расходы компании', company_consumptions_path
  - if can? :access, :profitability
    %li{:class => ("active" if current_page?(:controller => 'profitability', :action => 'index'))}
      = link_to 'Рентабельность', profitability_path
  - if can? :manage, User
    %li{:class => ("active" if current_page?(:controller => 'users', :action => 'index'))}
      = link_to 'Пользователи', users_path
  - if can? :access, :rails_admin
    %li
      = link_to 'Админка', rails_admin_path

%p.navbar-text.pull-right
  %b.navbar-username= "#{current_user.name}"
  - unless can? :manage, User
    = link_to 'сменить пароль', change_password_path, :class => 'navbar-link'
  = link_to 'выйти', destroy_user_session_path, :method=>'delete', :class => 'navbar-link logout-link'
