!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Pharm Event"
      %meta{:content => content_for?(:description) ? yield(:description) : "Pharm Event", :name => "description"}
      = yield(:prehead)
      = stylesheet_link_tag "application"
      = stylesheet_link_tag "print", :media => "print"
      = javascript_include_tag "application"
      = csrf_meta_tags
      = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .row
          .span12
            = render 'layouts/messages'
        = yield
      / ! end of .container
    / ! end of #main
